body {
    background: linear-gradient(
        35deg, 
        #55CDFC 20%,    
        #F7A8B8 20%,    
        #F7A8B8 40%, 
        #FFFFFF 40%,    
        #FFFFFF 60%, 
        #F7A8B8 60%, 
        #F7A8B8 80%, 
        #55CDFC 80%     
    );
    background-size: 100% 100%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
